.menu {
  background-color: white;
  min-height: calc(100vh - 90px);
  width: 165px;
}

.open {
  height: calc(100vh - 158px);
  margin: 24px 0 44px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.open__avatar {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.open__img {
  width: 48px;
  height: 48px;
  background-color: #cdcdcd;
  margin-right: 8px;
}

.open__text > p {
  margin: 0;
  font-size: 16px;
  line-height: 140%;
}

.open__text > p:first-child {
  font-weight: 500;
}

.open__input {
  margin: 0 40px 32px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  background-color: #f0f0f0;
  padding: 6px 12px;
}

.open__input > input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 140%;
}

/* .open__nav-img {
  width: 24px;
  height: 24px;
} */

.open__menu-span {
  margin: 16px 24px 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.open__nav {
  display: flex;
  flex-direction: column;
}

.open__menu-link {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px 24px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: black;
  transition: all 0.2s ease-in;
}
.open__menu-link:hover {
  opacity: 0.8;
}

.open__menu-active {
  background-color: #f3f3f3;
}

.open__menu-link:active {
  color: black;
  opacity: 0.5;
}

.open__menu-link > img {
  margin-right: 12px;
}
