.menu {
  background-color: white;
}

.open {
  width: 384px;
  display: flex;
  flex-direction: column;
}

.open__avatar {
  background-color: #E4F5FF;
  margin: 32px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 12px;
}

.open__img {
  width: 48px;
  height: 48px;
  background-color: lightsalmon;
  border-radius: 50%;
  text-align: center;
  margin-right: 8px;
}

.open__text>p {
  margin: 0;
  font-size: 16px;
  line-height: 140%;
}

.open__text>p:first-child {
  font-weight: 500;
}

.open__input {
  margin: 0 40px 32px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  background-color: #F0F0F0;
  padding: 6px 12px;
}

.open__input>input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 140%;
}

.open__menu {
  margin: 0 auto 32px;
}

.open__menu-button {
  width: 312px;
  display: flex;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  padding: 0;
}

.open__menu-button>img {
  margin: 6px 12px;
}

.open__menu-button>span {
  margin: 6px 0;
}

.open__nav {
  display: flex;
  flex-direction: column;
}

.open__menu-link {
  display: flex;
  align-items: center;
  margin-top: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: black;
  padding: 5px 0;
}

.open__menu-active {
  background-color: #e8eefd;
  border-radius: 4px;
}

.open__menu-link:active {
  color: black;
  opacity: 0.5;
}

.open__menu-link>img {
  margin-right: 12px;
}

.close {
  width: 90px;
  display: flex;
}

.close__menu {
  margin: 12px auto;
}

.close__menu-button {
  border: none;
  border-radius: 4px;
}

.close__nav {
  display: flex;
  flex-direction: column;
}

.close__menu-link {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}